# file comment
snippet fc
	//---------------------------------------------------------------------------------
	// ${0:`expand('%:t')`}
	// ${1:namespace } ${2:class } ${3:header} file
	// Ver ${4:0.1.0}
	// Copyright(C) `g:snips_author`
	// Homepage:
	// Created: (${5:`strftime("%Y-%m-%d")`})
	//
	// Modified log
	//---------------------------------------------------------------------------------
# header guard
snippet hg
	#ifndef ${0:_`toupper(Filename())`_H}
	#define $0

	$1

	#endif // $0
snippet c3
	//---------------------------------------------------------------------------------
	// $1
	//---------------------------------------------------------------------------------

